body {
	
	//background-image: url(../images/bw.jpg);
	//background-position: 80px 0px;
	//background-repeat: repeat-y;

	background-color: black;

	//background: linear-gradient(bottom right, white, black);
	//background: -webkit-linear-gradient(bottom right, white, black);
	//background: -moz-linear-gradient(bottom right, white, black);
}

h2{
	font-family: anton;
	font-size: 136px;
	color: #0192D5;
	text-align: left;
	line-height: 120px;

}

h4{
	font-family: arial;
	font-size: 20px;
	font-variant: small-caps;
	color: #F5D42D;
	text-align: left;
	margin-left: 5px;
}

a:link {
	color: #0192D5;
	text-decoration: none;
}

a:visited {
	color: #F5D42D;
}

a:hover {
	color: black;
}



 #center {
 margin-left: 200px;
 padding: 20px;
 height: 5000px;
 width: 500px;
 background-color: #212121;
}



 .sidebar {
font-size: 10px;
font-family: gotham;
margin-left: 5px;
 }

  .vic {
font-size: 12px;
font-family: arial;
margin-left: 5px;
text-align: left;
color: white;
 }
